# Dictionary can be defined as mapping of key value pair

In [1]:
empty_dict = {}

In [2]:
empty_dict

{}

In [4]:
bike_owners = {'Amit' : 'KTM Duke',
               'Manoj' : 'Royal Enfield Bullet',
               'Anil' : 'Yamaha R15',
               'Sahil' : 'TVS Apache'
              }

bike_owners

{'Amit': 'KTM Duke',
 'Manoj': 'Royal Enfield Bullet',
 'Anil': 'Yamaha R15',
 'Sahil': 'TVS Apache'}

In [5]:
bike_owners['Amit']

'KTM Duke'

In [6]:
bike_owners['Sahil']

'TVS Apache'

In [7]:
bike_owners['Yamaha R15']

KeyError: 'Yamaha R15'

In [10]:
int_dict = {1:10,
           2:20,
           3:30}

int_dict

{1: 10, 2: 20, 3: 30}

In [9]:
int_dict[3]

30

# Dictionary keys should be unique -
### This is why looking up a value by key is possible

In [13]:
int_dict = {1:10,2:20,3:30,4:40,4:50}

In [14]:
int_dict #Python will use the last value assigned to a key if the keys are not unique

{1: 10, 2: 20, 3: 30, 4: 50}

In [15]:
student_details = {'Sunny':1999,
                  'Shivam':1998,
                  'Amit':2001}

student_details

{'Sunny': 1999, 'Shivam': 1998, 'Amit': 2001}

In [17]:
student_details.keys()

dict_keys(['Sunny', 'Shivam', 'Amit'])

In [18]:
'Sunny' in student_details.keys()

True

In [19]:
'Shivam' in student_details.keys()

True

In [20]:
'Anand' in student_details.keys()

False

In [21]:
student_details.values()

dict_values([1999, 1998, 2001])

In [24]:
mixed_dict = {True:'Subscribe',
             "Anand":[1,2,3],
             'Sage Computations' : 'Like',
             'Comment':True}

mixed_dict

{True: 'Subscribe',
 'Anand': [1, 2, 3],
 'Sage Computations': 'Like',
 'Comment': True}

In [25]:
mixed_dict['Anand']

[1, 2, 3]

In [26]:
mixed_dict[True]

'Subscribe'

In [27]:
bike_details = {'Bike Owner': 'Manoj',
               'Bike model': 'Royal Enfield Bullet',
               'Bike Price':230000,
               'Engine DIsplacement':350}

bike_details

{'Bike Owner': 'Manoj',
 'Bike model': 'Royal Enfield Bullet',
 'Bike Price': 230000,
 'Engine DIsplacement': 350}

In [28]:
bike_details['Num_cylinders'] = 3

In [29]:
bike_details

{'Bike Owner': 'Manoj',
 'Bike model': 'Royal Enfield Bullet',
 'Bike Price': 230000,
 'Engine DIsplacement': 350,
 'Num_cylinders': 3}

In [30]:
bike_details['Bike_Price'] = 240000
bike_details

{'Bike Owner': 'Manoj',
 'Bike model': 'Royal Enfield Bullet',
 'Bike Price': 230000,
 'Engine DIsplacement': 350,
 'Num_cylinders': 3,
 'Bike_Price': 240000}

In [31]:
bike_details.get('Bike_Price')

240000

In [32]:
del bike_details['Engine DIsplacement']

In [33]:
bike_details

{'Bike Owner': 'Manoj',
 'Bike model': 'Royal Enfield Bullet',
 'Bike Price': 230000,
 'Num_cylinders': 3,
 'Bike_Price': 240000}