In [30]:
car_details = {'Car owner':'Anand',
              'Car model':'XUV 700',
              'Car price':2300000,
              'Engine displacement':2000}

car_details

{'Car owner': 'Anand',
 'Car model': 'XUV 700',
 'Car price': 2300000,
 'Engine displacement': 2000}

# 1.  Len()

In [2]:
len(car_details)

4

In [4]:
len(car_details.keys())

4

In [5]:
len(car_details.values())

4

# 2. Sorted - Ascending

In [8]:
sorted(car_details)

['Car model', 'Car owner', 'Car price', 'Engine displacement']

# 3. Sorted Reverse - descending

In [9]:
sorted(car_details, reverse = True)

['Engine displacement', 'Car price', 'Car owner', 'Car model']

In [31]:
sorted(car_details.values())

TypeError: '<' not supported between instances of 'int' and 'str'

# 4. items()

In [15]:
car_details.items() #Will return key value pairs in the form of tuples

dict_items([('Car owner', 'Anand'), ('Car model', 'XUV 700'), ('Car price', 2300000), ('Engine displacement', 2000)])

# 5. copy()

In [16]:
copy_car_details = car_details.copy()

In [17]:
copy_car_details

{'Car owner': 'Anand',
 'Car model': 'XUV 700',
 'Car price': 2300000,
 'Engine displacement': 2000}

In [18]:
copy_car_details.pop('Engine displacement')

2000

In [19]:
copy_car_details

{'Car owner': 'Anand', 'Car model': 'XUV 700', 'Car price': 2300000}

In [20]:
car_details

{'Car owner': 'Anand',
 'Car model': 'XUV 700',
 'Car price': 2300000,
 'Engine displacement': 2000}

In [21]:
copy_car_details.pop('Engine displacement')

KeyError: 'Engine displacement'

In [22]:
copy_car_details.popitem() #can remove any item at random

('Car price', 2300000)

In [23]:
copy_car_details

{'Car owner': 'Anand', 'Car model': 'XUV 700'}

# 6. update()

In [24]:
dict_age = {'Simran':22,'Sakshi':24}

new_dict_age = {'Simran':23,'Amit':19}

In [25]:
dict_age.update(new_dict_age)

dict_age

{'Simran': 23, 'Sakshi': 24, 'Amit': 19}

# 7. clear()

In [26]:
car_details.clear()

In [27]:
car_details

{}

# 8. del

In [28]:
del copy_car_details

In [29]:
copy_car_details

NameError: name 'copy_car_details' is not defined