In [1]:
number_1 = {1,2,3,4,5}
number_2 = {4,5,6,7,8}
number_3 = {7,8,9,10,11}

# 1. Union

In [2]:
number_1.union(number_2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [3]:
number_union = number_1.union(number_2,number_3)

number_union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [4]:
student_set1 = {'Sonam','Ali','Simran'}
student_set2 = {'Simran','Amit','Sakshi'}
student_set3 = {'Sakshi','Anand','Jack'}

In [5]:
student_set1.union(student_set2,student_set3)

{'Ali', 'Amit', 'Anand', 'Jack', 'Sakshi', 'Simran', 'Sonam'}

# 2. Intersection - finds the common element between two sets

In [6]:
print(number_1)
print(number_2)
print(number_3)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{7, 8, 9, 10, 11}

In [7]:
number_2.intersection(number_1)

{4, 5}

# 3. Difference - Common elements between set1 and set 2 are removed

In [8]:
print(number_1)
print(number_2)
print(number_3)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{7, 8, 9, 10, 11}

In [9]:
number_1.difference(number_2)

{1, 2, 3}

In [10]:
diff_set = student_set1.difference(student_set2)

In [11]:
diff_set

{'Ali', 'Sonam'}

# 4. Intersection_update - will perform the intersection between two sets and the updated results will be stored in set 1

In [12]:
print(number_1)
print(number_2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [13]:
number_1.intersection_update(number_2)

In [14]:
number_1

{4, 5}

In [15]:
number_2

{4, 5, 6, 7, 8}

In [16]:
student_set1, student_set2, student_set3

({'Ali', 'Simran', 'Sonam'},
 {'Amit', 'Sakshi', 'Simran'},
 {'Anand', 'Jack', 'Sakshi'})

In [17]:
student_set1.intersection_update(student_set2)

In [18]:
student_set1

{'Simran'}

In [19]:
student_set2

{'Amit', 'Sakshi', 'Simran'}

# 5. Difference_update - will perform the difference between two sets and the updated results will be stored in set 1

In [20]:
student_set1 = {'Sonam','Ali','Simran'}
student_set2 = {'Simran','Amit','Sakshi'}

In [21]:
student_set1.difference_update(student_set2)

In [22]:
student_set1

{'Ali', 'Sonam'}

# 6. isdisjoint - whether two sets contain elements in common or not

In [24]:
{1,2,3}.isdisjoint({4,5,6})

True

In [25]:
{1,2,3}.isdisjoint({1,5,6})

False

In [26]:
number_1,number_2

({4, 5}, {4, 5, 6, 7, 8})

In [27]:
number_1.isdisjoint(number_2)

False

# 7. issubset - whether a set is a subset of a larger set

In [29]:
{10,20}.issubset({10,20,30})

True

# 8. issuperset - whether a set is a superset of a smaller set

In [31]:
{10,20,30}.issuperset({10,20})

True